.header {
	height: 20vh;
	padding: 1.4rem 2.4rem;
	overflow: hidden;
	background-color: papayawhip;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.nametitle {
	font-size: 3.2rem;
	font-weight: 700;
	margin-bottom: .8rem;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-direction: column;
}
.lastname {
	display: block;
}

.descLong {
	/* no animation, long text styles */
	font-size: 1.8rem;
	line-height: 2rem;
	grid-column: 2;
	display: flex;
	align-items: center;
}
.descShort {
	/* yes animation, short text styles */
	font-size: 1.8rem;
	/* line-height: 1.2rem; */
}

.descShort > * {
	text-align: center;
}

@media screen and (min-width: 500px) {
	.header {
		display: block;
		height: 15vh;
	}
	.nametitle {
		display: unset;
	}
	.lastname {
		display: inline;
	}
}
