.first {
	background-color: #bb0;
	border-radius: 20px 20px 0 0;
	z-index: 10;
	height: 100%;
}

.first > h2,
.second > h2,
.third > h2,
.fourth > h2 {
  padding: 1rem;
}

.second {
	background-color: #00bbbb;
	border-radius: 20px 20px 0 0;
	position: relative;
	z-index: 20;
	height: 100%;
	top: -50px;
}

.third {
	background-color: #6100bb;
	border-radius: 20px 20px 0 0;
	z-index: 30;
	height: 100%;
	position: relative;
	top: -100px;
}

.fourth {
	background-color: #bb0073;
	border-radius: 20px 20px 0 0;
	z-index: 40;
	height: 100%;
	position: relative;
	top: -150px;
}
