.blog-section,
.code-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
}

.first {
	background-color: #bb0;
	border-radius: 20px 20px 0 0;
	/* z-index: 10; */
	height: 100%;
	position: relative;
}
.first,
.second,
.third,
.fourth {
	padding-bottom: 9000px;
}

.first > h2,
.second > h2,
.third > h2,
.fourth > h2 {
	cursor: pointer;
	padding: 1rem;
	position: relative;
	z-index: 900;
	font-size: 2.5rem;
}

.second {
	background-color: #00bbbb;
	border-radius: 20px 20px 0 0;
	position: relative;
	z-index: 20;
	height: 100%;
	/*	top: -50px; */
}

.third {
	background-color: #6100bb;
	border-radius: 20px 20px 0 0;
	z-index: 30;
	height: 100%;
	position: relative;
	color: #ddd;
	/*	top: -100px; */
}

.fourth {
	background-color: #da89ff;
	border-radius: 20px 20px 0 0;
	z-index: 40;
	height: 100%;
	position: relative;
	color: #363636;

	/*	top: -150px; */
}

/* .sectionWrapper {
	
} */
