

.first {
    background-color: #bb0;
    border-radius: 20px 20px 0 0;
    z-index: 10;
}

.second {
    background-color: #00bbbb;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 20;
    top: -50px;
}

.third {
    background-color: #6100bb;
    border-radius: 20px 20px 0 0;
    z-index: 30;
    position: relative;
    top: -100px;
}

.fourth {
    background-color: #bb0073;
    border-radius: 20px 20px 0 0;
    z-index: 40;
    position: relative;
    top: -150px;
}
